.Service {
    background-color: #f9f9f9;
}
.service-contant {
    overflow: hidden;
    width: 100%;
    /* background-color: #f9f9f9; */
}
.service-item {
    width: 50%;
    float: left;

}
.service-item-ul {
    /* padding-left: 20px; */
}
.service-item .sec-under {
    margin: 0 0 70px 0;
}
.service-item .sec-header .sec-title {
    text-align: left;
}
.service-item ul li {
list-style-type: none;
padding-top: 10px;
}
.service-item ul li i {
    border: 1px solid #6195ff;
    color: #6195ff;
    border-radius: 60%;
    padding: 7px 4px;

}
.service-item-desc {
    margin-bottom: 20px;
    padding-right: 150px;
    line-height: 1.7;
    font-size: 17px;
}
.service-item-img {
    width: 100%;
}
.service-item-img img {
    width: 100%;
}
.service-item-ul {
    line-height: 2;
}
.service-bollets {
    text-align: center;
}
.service-bollets li {
    background-color: #e8e8e8;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px 10px;
    

}
.service-bollets li.blue {
    background-color: #6195ff;
}
.service-item-desc , .service-item-ul li {
    color: #999;
}
.service-bollets li:hover {
    background-color: #6195ff;
}